body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.categories {
    border-radius:200px;
    border: 1px solid #e9e9e9;
    text-align: center;
    margin: 5px 0;
    padding: 15px;
    transition: border-color .3s;
}
.categories:hover {
    transition: border-color .3s;
    border-color: #252525;
}
.categories > p {
    margin: 0;
}

.modal-append {
    text-align: center;
}
.modal-append > div {
    margin:5px 0;
}
.modal-append > .modal-img {
    margin-bottom: 35px;
}
.modal-append > div > img {
    filter: invert(100%);
    height: 200px;
    width: 200px;
}


/*
    XP SHOWER
*/
.level-container {
    padding: 15px;
    border: 1px solid #e9e9e9;
}
.level-container .xp-bar {
    overflow: hidden;
}
.level-container .xp-bar > div {
    background-color: #fff;
    border: 1px solid #fff;
    height: 100%;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}
.level-container .xp-bar > div > span {
    color:#000;
    overflow: hidden;
    white-space: nowrap;
}
.level-container > div {
    padding: 0;
}
.level-container .current-level, .level-container .next-level {
    font-size: 1.6em;
    text-align: center;
    border: 1px solid #e9e9e9;
}


/*Navbar Customization*/

.navbar-toggle {
    position: absolute;
    left: 15px;
    top: 0;
}
.navmenu-nav {
    display: block;
}
.nav > li > form > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #000;
}

/*Achievements*/
.achievement-container > div {
    border: 1px solid #e9e9e9;
}
.achievement-container > div > p {
    margin: 10px 0;
}

/*Xp popup*/
.xp-popup {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    transition: opacity 1s, z-index 2.5s;
}
.xp-popup > div > .popup-img {
    text-align: center;
}
.xp-popup > div > .level-container {
    border: none;
    margin: 15px;
}


.xp-popup > div > .level-container > .current-level, .xp-popup > div > .level-container > .next-level  {
    color: #fff;
}

.popup-fadein {
    z-index: 3000;
    opacity: 1;
    transition: opacity 1s;
}