@model IEnumerable<ExerciseApp.EX_AchievementTable>

@{
    ViewBag.Title = "Achievements";
}

<h2>Achievements</h2>

<div class="achievement-container row">


@foreach(var item in Model)
{
    <div class="col-xs-12">
            <p style="font-weight: bold;">@Html.DisplayFor(modelItem => item.AchievementName)</p>
        <div class="col-xs-12">
            <p style="font-size:.8em;">@Html.DisplayFor(modelItem => item.AchievementDescription)<span style="font-size:.9em; font-weight: bold;"> (@Html.DisplayFor(modelItem => item.AchievementScore) xp)</span></p>
            
        </div>
    </div>
    
}
</div>