@model ExerciseApp.Models.RootObject

@{
    ViewBag.Title = "ChallengeFriendList";
}
<h2>Vælg Ven</h2>
@foreach (var item in Model.data)
{
    <div class="row">
        <div class="challenge-friend col-xs-12">
            <div class="col-xs-3">
                <img style="border-radius:200px; height: 65px; width: 65px;" src="@Html.DisplayFor(modelItem => item.picture.data.url)" />
            </div>
            <div class="challenged-name col-xs-5" style="padding: 20px 0;" data-id="@Html.DisplayFor(modelItem => item.id)">
                <span style="font-weight:bold; margin: 15px 0px;">@Html.DisplayFor(modelItem => item.name)</span>
            </div>
            <div class="col-xs-4" style="padding: 15px 0;">
                <a style="float:right;" class="challenged btn btn-success" >Vælg</a>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/challengefriendlist.js"></script>


